{% extends 'todoapp/layout.html' %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">
    <h2 style="text-align: center"><a href="http://127.0.0.1:8000">Вернуться назад</a></h2>
    <h1 class="ui center aligned header">Список тасков</h1>
    <h3 class="test_style">Создавай, выполняй, увеличивай длину списка :></h3>
    <form class="ui form" action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <label>Создай задачу:</label>
            <input type="text" name="title" placeholder="Введите название задачи"><br>
        </div>
        <button class="ui teal basic button" type="submit">Добавить</button>
    </form>

{% for todo in todo_list %}
<div class="ui segment">
    <p class="ui big header">{{ todo.title }}</p>

    {% if todo.is_complete == False %}
    <span class="ui gray label">Не завершено</span>
    <a class="ui primary basic button" href="{% url 'update' todo_id=todo.id %}">Выполнить</a>
    {% else %}
    <span class="ui green label">Завершено</span>
    <a class="ui blue button" href="{% url 'update' todo_id=todo.id %}">Отменить</a>
    {% endif %}
    <a class="ui negative basic button" href="{% url 'delete' todo_id=todo.id %}">Удалить</a>
</div>
{% endfor %}
</div>

{% endblock content %}